{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Cours{% endblock %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
        <h1 class="h3 mb-2 text-gray-800">ANNONCES</h1>
        </div>
        <div class="col-lg-6 col-md-6" align="right">
            <a href="{{ url_for('etudiant.AccueilEtud') }}">
                <button type="button" class="btn btn-info">
                    Retourner à l'Accueil
                </button>
            </a>

            <!--                  <a href="{{ url_for('etudiant.list_matieres') }}">-->
            <!--                  <button >-->
            <!--                       <i class="fa fa-arrow-left" aria-hidden="true"></i>-->
            <!--                  </button>-->
            <!--               </a>-->

        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ utils.flashed_messages() }}
            <br>
            <div class="table-responsive">
                {% if annonces %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Titre</th>
                        <th> Contenu</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for annonce in annonces %}
                    <tr>
                        <td>
                            {{ annonce.titre }}
                        </td>
                        <td> {{ annonce.contenu }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                {% else %}
                <div style="text-align: center">
                    <h3> Pas d'annonce actuellement </h3>
                    <hr class="intro-divider">
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}