{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">VOTRE PROFILE</h1>
          <!-- DataTales Example -->
        {% for etud in etudiant %}
          <div class="card shadow mb-4">
            <div class="card-header py-3">
               <div align="right">
               <a href="{{ url_for('etudiant.edit_profile', id=etud.id) }}">
                  <button type="button" class="btn btn-info btn-lg">EDIT PROFILE</button>
               </a>
             </div>
            </div>
            <div class="card-body">
                        {{ utils.flashed_messages() }}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile-img">
                                            <img src="{{url_for('static', filename='img/profil.jpg')}}" />
                                            <div class="file btn btn-lg btn-primary">
                                                Change Photo
                                                <input type="file" name="file"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-head">
                                                    <h2 class="m-0 font-weight-bold text-primary">
                                                        {{etud.nom_admin}} {{etud.prenom_admin}}
                                                    </h2>
                                                    <h6>
                                                            Fonction : Etudiant {{ etud.formation.label_formation }}
                                                    </h6>
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                                                </li>
                                            </ul>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="tab-content profile-tab" id="myTabContent">
                                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Nom</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.nom_etud}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Prénom</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.prenom_etud}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Date de naissance</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.date_naissance}}</p>
                                                            </div>
                                                        </div>
                                                         <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Email</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.email}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Adresse</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.adresse}} {{etud.code_postal}}
                                                                {{etud.ville}} {{etud.pays}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label>UFR</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{etud.formation.label_formation}}</p>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile-work">
                                        </div>
                                    </div>
                                </div>
                    {%endfor%}
            </div>
          </div>
        </div>
{% endblock %}