{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}ANNONCES{% endblock %}
{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">LISTE DES ANNONCES</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
               <div align="right">
               <a href="{{url_for('profannonces.add_annonces', id=idMatiere) }}">
                  <button type="button" class="btn btn-info btn-lg">Add Annonces</button>
               </a>
             </div>
            </div>
            <div class="card-body">
              {{ utils.flashed_messages() }}
              <br>
              <div class="table-responsive">
                {% if annonces %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th> Titre </th>
                      <th> Contenu </th>
                      <th> Date de publication </th>
                      <th> Matière </th>
                      <th width="15%"> Edit </th>
                      <th width="15%"> Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for annonce in annonces %}
                    <tr>
                      <td> {{ annonce.titre }} </td>
                      <td> {{ annonce.contenu }} </td>
                      <td> {{ annonce.date }} </td>
                      <td> {{ annonce.matiere }} </td>

                      <td><a href="{{ url_for('profannonces.edit_annonces', id=annonce.id) }}">
                      <center><button type="button" class="btn btn-outline-success btn-sm">Edit</button></center></a></td>

                      <td><a href="{{ url_for('profannonces.delete_annonces', id=annonce.id) }}">
                      <center><button type="button" class="btn btn-outline-danger btn-sm">DELETE</button></center></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>


                {% else %}
                  <div style="text-align: center">
                    <h3> No annonce have been added. </h3>
                    <hr class="intro-divider">
                  </div>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


