{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}ETUDIANT{% endblock %}
{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">LISTE DES ETUDIANTS</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
               <div align="right">
               <a href="{{ url_for('etudiants.add_etudiants', id=idFormation) }}">
                  <button type="button" class="btn btn-info btn-lg">Add Etudiant</button>
               </a>
             </div>
            </div>
            <div class="card-body">
              {{ utils.flashed_messages() }}
              <br>
              <div class="table-responsive">
                {% if etudiants %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th> Nom </th>
                      <th> Prenom </th>
                      <th> Numéro Etudiant </th>
                      <th> Sexe </th>
                      <th> Date de naissance </th>
                      <th> Email </th>
                      <th> Adresse </th>
                      <th> Formation </th>
                      <th> Edit </th>
                      <th> Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for etudiant in etudiants %}
                    <tr>
                      <td> {{ etudiant.nom_etud }} </td>
                      <td> {{ etudiant.prenom_etud }} </td>
                      <td> {{ etudiant.num_etud }} </td>
                      <td> {{ etudiant.sexe_etud }} </td>
                      <td> {{ etudiant.date_naissance }} </td>
                      <td> {{ etudiant.email }} </td>
                      <td> {{ etudiant.adresse }} {{ etudiant.code_postal }}
                      {{ etudiant.ville }} {{ etudiant.pays }}</td>
                      <td> {{ etudiant.formation }} </td>

                      <td><a href="{{ url_for('etudiants.edit_etudiants', id=etudiant.id) }}">
                      <center><button type="button" class="btn btn-outline-success btn-sm">Edit</button></center></a></td>

                      <td><a href="{{ url_for('etudiants.delete_etudiants', id=etudiant.id) }}">
                      <center><button type="button" class="btn btn-outline-danger btn-sm">DELETE</button></center></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>


                {% else %}
                  <div style="text-align: center">
                    <h3> No etudiant have been added. </h3>
                    <hr class="intro-divider">
                  </div>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


