{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de Départements dans l'université</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_departement}} Départements</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Nombre d'administrateurs dans l'université </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_administrateur}} Administrateurs</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase">Nombre des etudiants dans l'université</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{nb_etudiant}} Etudiants</div>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nombre de professeurs dans l'université</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_professeur}} Professeurs</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <div class="col-lg-6">

      <!-- Dropdown Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">GESTION DES DEPARTEMENTS</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Label departement</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
              {% for departement in departements %}
                <tr>
                    <td>{{ departement.label_departement }}</td>
                    <td>{{ departement.description }} </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
            <a href="{{ url_for('departement.list_departements') }}">
              <center><button type="button" class="btn btn-info btn-sm">PLUS</button></center>
            </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6">

      <!-- Dropdown Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">GESTION DES ADMINISTRATEURS</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
              {% for administrateur in administrateurs %}
                <tr>
                  <td>{{administrateur.nom_admin}}</td>
                  <td>{{administrateur.prenom_admin}}</td>
                  <td>{{administrateur.email}}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
            <a href="{{ url_for('administrateurs.list_administrateurs') }}">
              <center><button type="button" class="btn btn-info btn-sm">PLUS</button></center>
            </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

  </div>
{% endblock %}