{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_formations %}
        Add Formation
    {% else %}
        Edit Formation
    {% endif %}
{% endblock %}
{% block body %}
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">

                    {% if add_formations %}
                        <center><h1 class="h3 mb-2 text-gray-800">AJOUTER FORMATION</h1></center>
                    {% else %}
                        <center><h1 class="h3 mb-2 text-gray-800">EDITER FORMATION</h1></center>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="center">
                     {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}