{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}FORMATIONS{% endblock %}
{% block body %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">LISTE DES FORMATIONS</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
               <div align="right">
               <a href="{{ url_for('formations.add_formations') }}">
                  <button type="button" class="btn btn-info btn-lg">Ajouter Formation</button>
               </a>
             </div>
            </div>
            <div class="card-body">
              {{ utils.flashed_messages() }}
              <br>
              <div class="table-responsive">
                {% if formations %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th> Label Formation </th>
                      <th> Description </th>
                      <th> Departement </th>
                      <th> Edit </th>
                      <th> Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for formation in formations %}
                    <tr>
                      <td><a href="{{ url_for('formations.accueilFormation', id=formation.id) }}"/>
                            {{ formation.label_formation }}</a></td>
                      <td> {{ formation.description }} </td>
                      <td> {{ formation.departement.label_departement }} </td>

                      <td><a href="{{ url_for('formations.edit_formations', id=formation.id) }}">
                      <center><button type="button" class="btn btn-outline-success btn-sm">Edit</button></center></a></td>

                      <td><a href="{{ url_for('formations.delete_formations', id=formation.id) }}">
                      <center><button type="button" class="btn btn-outline-danger btn-sm">DELETE</button></center></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>


                {% else %}
                  <div style="text-align: center">
                    <h3> No formation have been added. </h3>
                    <hr class="intro-divider">
                  </div>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


